@{
    ViewData["Title"] = "MukorD";
}

<section class="Home">
    <div class="container">
        <nav>
            <a> MukorD</a>
            <a>Ladda ned</a>
            <a>Nitro</a>
            <a>Upptäck</a>
            <a>Säkerhetscenter</a>
            <a>Hjälp</a>
            <a>Blogg</a>
            <a>Karriärer</a>
            <a asp-controller="Chat" asp-action="Index">chat</a>
        </nav>

        <div class="section-title">
            <h1>
                MUKLARNAS STÄLLE ...
            </h1>
            <p>... ett ställe där bara the Mukles får vara. Den egna chatappen</p>
            <a><i class="fa-solid fa-arrow-down-to-bracket"></i>Ladda ned för Windows</a>
            <a>Öppna MukorD</a>
        </div>
    </div>
</section>
